body, html {
  height: 99%;
  background-color: black;
  margin: 0;
}

* {
  box-sizing: border-box;
}


.bg-image1 {
  background-image: url("https://data.whicdn.com/images/350682349/original.gif");
}

.bg-image2 {
  background-image: url("https://data.whicdn.com/images/349794710/original.gif");
}

.bg-image3 {
  background-image: url("https://data.whicdn.com/images/345694842/original.gif");
}

.bg-image1, .bg-image2, .bg-image3 {

  filter: blur(5px);
  -webkit-filter: blur(5px);
  display: inline-table;

  height: 100%;
  width: 33%;
  opacity: 0.10;
  cursor: crosshair;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;


}

.bg-image1:hover, .bg-image2:hover, .bg-image3:hover, .bg-image4:hover {
  opacity: 1.0;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
